/* reset */
* {
	padding: 0;
	margin: 0;
	outline: none;
}
body, html {
	height: 100%;
	width: 100%;
}
body {
	background: #000;
	font: 17px/1.6 sans;
	overflow: hidden;
}
img, video {
	display: block;
	line-height: 0;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
}

/* full screen button */
#btn-fullscreen {
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 5px 10px;
	border: none;
	background: rgba(1, 1, 1, .5);
	border-radius: 5px;
	color: #ccc;
	font-size: 18px;
	font-weight: bold;
	z-index: 999;
	cursor: pointer;
}

/* video */
#video-list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#video-list .video {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: transparent;
	opacity: 0;
}

#video-list .mask {
	z-index: 300;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0, 0, 0, .8);*/
	opacity: 1;
	background: -webkit-radial-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
	background: radial-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}
#video-list .mask.close {
	opacity: 0;
}

/* map */
#quiet-map {
	position: absolute;
	z-index: 400;
	left: 50%;
	top: 50%;
	width: 700px;
	height: 510px;
	margin-left: -350px;
	margin-top: -255px;
	background: transparent url(../image/hkmap.svg) 0 0 no-repeat;
	background-size: 100% 100%;
	-webkit-transition: all .5s;
	transition: all .5s;
}
#quiet-map.close {
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	left: -175px;
	top: -127.5px;
	margin-left: 0;
	margin-top: 0;
}
#quiet-map.close .mark-point {
	cursor: default;
}
#quiet-map.close .mark-point:hover {
	opacity: .6;
}
#quiet-map .mark-point {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background-color: #fff;
	opacity: .6;
	border-radius: 100px;
	-webkit-transition: all .5s;
	transition: all .5s;
}
#quiet-map .mark-point.current {
	-webkit-transform: scale(3, 3);
	transform: scale(3, 3);
}
#quiet-map .mark-point:hover {
	opacity: 1;
}
